<div class="board" >
  <div class="button" *ngIf="!($displayGame | async) as dp">
    <button (click)="start()">{{dp === true ? "start" : "Play again"}}</button>
  </div>
  <div class="container">

    <div class="game-container">
      <div class="game-container__first-row">
        <div (click)="click()" class="hole hole-1"></div>
        <div (click)="miss()"  class="hole hole-2"></div>
        <div class="hole hole-3"></div>
      </div>
      <div class="game-container__second-row">
        <div class="hole hole-4"></div>
        <div class="hole hole-5"></div>
        <div class="hole hole-6"></div>
      </div>
  
      
    </div>
  </div>
</div>
